tmp
*.log
__pycache__
*.pyc
*.pot
*/*/*/__pycache__/*
*/*/__pycache__/*
*/__pycache__/*
.vscode
A/secret.py
imported_pip_requirements.txt
media
static/dashboard/fonts
static_files/website/fonts
static_files/website/img
static_files/website/css/yekan-font