{% extends 'website/base.html' %}
{% load static %}
{% block 'custome_js' %}
  <script src='{% static "carts/js/main.js" %}'></script>
{% endblock %}
{% block content %}
  <!--totals-->
  <section class="mb-3">
    <div class="container-fluid">
      <div class="row">
        <!--###List of products###-->
        
        <div class="col-12 col-lg-9 col-md-8 col-sm-12 my-3">
          <div class="col PL1">
            {% if cart.products.exists %}
            <!--###Single product###-->
            {% for product in cart.products.all %}
                <div class="PL2 pt-2 pb-2">
                  <div class="col-3 col-lg-3 rightImgList d-flex align-items-center">
                      <a href="{{ product.get_absolute_url }}"><img src="{{ product.image_medium.url }}" alt="product" class="img-fluid"></a>
                  </div>
                  <div class="col-9 col-lg-9 topList1">
                    <h5>{{ product.persian_title }}</h5>
                  </div>
                  <div class="col-9 col-lg-9 bottumList1 d-flex align-items-end p-1">
                    <div class="btn-group" style="direction:ltr;" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-outline-primary btnLow" data-id={{product.id}}>-</button>
                      <button type="button" class="btn btn-outline-primary count1">1</button>
                      <button type="button" class="btn btn-outline-primary btnUp" data-id={{product.id}}>+</button>
                    </div>  
                    
                    {% include 'products/snippets/update_cart.html' with in_cart=True %}
                    
                      <p class="priceList1 font-weight-bold mr-auto">{{ product.price }}<span class="text-muted mr-1">تومان</span></p>
                  </div>
                </div>
            {% endfor %}
            {% else %} 
              <div class="PL2">
                <h1 class='text-center mt-5'>
                  سبد خرید شما <span class='text-danger'>خالی</span> است!
                </h1>
              </div>
            {% endif %}
            <!--###End of Single product###-->
          </div>
          
        </div>
        <!--###End of List of products###-->
        <!--###Checkout Section##-->
        <div class="col-12 col-lg-3 col-md-4 my-3">
          <div class="card checkout1">
            <div class="card-body checkoutTop">
              <p class="topRight4">قیمت کالاها</p>
              <p class="topLeft4 font-weight-bold">{{ cart.persian_subtotal_price }}<span class="font-weight-200 text-muted mr-1" style="font-size:0.8rem;">تومان</span></p>
            </div>
            <div class="card-body checkoutTop">
              <p class="topRight4">هزینه ارسال</p>
              <p class="topLeft4 font-weight-bold">10000<span class="font-weight-200 text-muted mr-1" style="font-size:0.8rem;">تومان</span></p>
            </div>
            <div class="card-body checkoutTop" style="border-bottom: none;">
              <p class="topRight4" style="color:#E63946;">جمع</p>
              <p class="topLeft4 font-weight-bold">{{ cart.persian_total_price }}<span class="font-weight-200 mr-1" style="font-size:0.8rem;">تومان</span></p>
            </div>
            <div class="card-footer checkoutBtn">
              <button type="button" class="continueBuy btn btn-lg btn-block">ادامه فرآیند خرید</button>
              <button type="button" class="updateBtn btn btn-lg btn-block">
                به روز رسانی سبد خرید
              </button>
            </div>
          </div>
        </div>
        <!--###End of Checkout Section##-->
      </div>
    </div>
  </section>
  <!--end of totals-->

  <!--###Related Products with Owl Carousel-->
  <div class="container RP">
    <div class="container relateTitle">
      <h4>محصولات پیشنهادی</h4>
    </div>
    <div class="container carousel-wrap tab-content" id="relateStuff">
      <div class="owl-carousel">
        <div class="item">
          <div class="card">
            <a href="#"><img src="http://placehold.it/150x150" class="card-img-top" alt="product"></a>
            <div class="card-body">
              <h6 class="card-title">کرم برنزه کننده</h6>
              <p class="card-text">این محصول برای تست است و تحت لیسانس انگلستان میباشد.</p>
            </div>
            <div class="card-footer">
              <strong>45.200تومان</strong>
            </div>
          </div>
          <a href="#" class="featured-store-link">افزودن به سبد خرید</a>
        </div>
        <div class="item">
          <div class="card">
            <a href="#"><img src="http://placehold.it/150x150" class="card-img-top" alt="product"></a>
            <div class="card-body">
              <h6 class="card-title">ماسک مو مای</h6>
              <p class="card-text">این محصول برای تست است و تحت لیسانس آلمان میباشد.</p>
            </div>
            <div class="card-footer">
              <strong>75.200تومان</strong>
            </div>
          </div>
          <a href="#" class="featured-store-link">افزودن به سبد خرید</a>
        </div>
        <div class="item">
          <div class="card">
            <a href="#"><img src="http://placehold.it/150x150" class="card-img-top" alt="product"></a>
            <div class="card-body">
              <h6 class="card-title">کرم ضدلک ایوروشه3</h6>
              <p class="card-text">این محصول برای تست است و تحت لیسانس فرانسه میباشد.</p>
            </div>
            <div class="card-footer">
              <strong>95.200تومان</strong>
            </div>
          </div>
          <a href="#" class="featured-store-link">افزودن به سبد خرید</a>
        </div>
        <div class="item">
          <div class="card">
            <a href="#"><img src="http://placehold.it/150x150" class="card-img-top" alt="product"></a>
            <div class="card-body">
              <h6 class="card-title">کرم ضد آفتاب ببک4</h6>
              <p class="card-text">این محصول برای تست است و تحت لیسانس انگلستان میباشد.</p>
            </div>
            <div class="card-footer">
              <strong>55.200تومان</strong>
            </div>
          </div>
          <a href="#" class="featured-store-link">افزودن به سبد خرید</a>
        </div>
        <div class="item">
          <div class="card">
            <a href="#"><img src="http://placehold.it/150x150" class="card-img-top" alt="product"></a>
            <div class="card-body">
              <h6 class="card-title">شامپو ضدریزش آلپسین</h6>
              <p class="card-text">این محصول برای تست است و تحت لیسانس انگلستان میباشد.</p>
            </div>
            <div class="card-footer">
              <strong>65.200تومان</strong>
            </div>
          </div>
          <a href="#" class="featured-store-link">افزودن به سبد خرید</a>
        </div>
        <div class="item">
          <div class="card">
            <a href="#"><img src="http://placehold.it/150x150" class="card-img-top" alt="product"></a>
            <div class="card-body">
              <h6 class="card-title">رنگ مو آلوور</h6>
              <p class="card-text">این محصول برای تست است و تحت لیسانس هلند میباشد.</p>
            </div>
            <div class="card-footer">
              <strong>75.200تومان</strong>
            </div>
          </div>
          <a href="#" class="featured-store-link">افزودن به سبد خرید</a>
        </div>
        <div class="item">
          <div class="card">
            <a href="#"><img src="http://placehold.it/150x150" class="card-img-top" alt="product"></a>
            <div class="card-body">
              <h6 class="card-title">لوسیون بدن کیو وی</h6>
              <p class="card-text">این محصول برای تست است و تحت لیسانس انگلستان میباشد.</p>
            </div>
            <div class="card-footer">
              <strong>63.200تومان</strong>
            </div>
          </div>
          <a href="#" class="featured-store-link">افزودن به سبد خرید</a>
        </div>
      </div>
    </div>
  </div>
<!--##End of Related Products####-->
{% endblock %}