{% extends 'accounts/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-10 col-8 mx-auto text-center">
        <div class="mx-auto"><h1 class="text-uppercase font-weight-bold footer-title text-center d-inline-block mt-4">yas daru</h1></div>
        <div class="col-12 col-lg-7 mx-auto">
          <div class="card mx-auto mt-5 text-right" id="signForm">
            <div class="card-header">
              <h5 class="card-title">ثبت نام در یاس دارو</h5>
              <a href="{% url 'accounts:phone-check-message' %}"><h5 class="card-title">را اشتباه وارد کرده‌اید؟ {{phone_number}}آیا شماره</h5></a>
            </div>
            <div class="card-body">
              <div id="signUp" class="container">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="inputEmail1">رمز</label>
                  {{ form.confirm_code }}
                  </div>
                  <button type="submit" class="btn btn-primary btn-block mt-2">تائید شماره موبایل</button>
                  <a href="{% url 'accounts:phone-check-message' %}"><small id="forgetPass" class="form-text">ارسال مجدد رمز</small></a>
                </form>
              </div>
            </div>
            <div class="card-footer py-3 px-2 text-center">
              <h6>قبلا در یاس دارو ثبت نام کرده اید؟<a href="{% url 'accounts:login' %}" class="mr-2">وارد شوید</a></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}