<!--skills-->
<section class="skills py-2">
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto col-md-6 col-lg-4 d-flex my-3">
          <div class="skill-icon ml-3">
            <i class="fa fa-truck"></i>
          </div>
          <div class="skill-text">
            <h4 class="text-white">ارسال رایگان</h4>
            <p>
              هزینه ارسال برای سفارش بالای صدهزار تومان بصورت رایگان است.
            </p>
          </div>
        </div>
        <div class="col-10 mx-auto col-md-6 col-lg-4 d-flex my-3">
          <div class="skill-icon ml-3">
            <i class="fa fa-comment-dollar"></i>
          </div>
          <div class="skill-text">
            <h4 class="text-white">تضمین قیمت</h4>
            <p>
              تمامی قیمتها بصورت مناسب و متعارف با محصولات تعیین شده است.
            </p>
          </div>
        </div>
        <div class="col-10 mx-auto col-md-6 col-lg-4 d-flex my-3">
          <div class="skill-icon ml-3">
            <i class="fa fa-award"></i>
          </div>
          <div class="skill-text">
            <h4 class="text-white">تضمین اصالت کالا</h4>
            <p>
              تمامی محصولات اصل و ساخت کشورهای درج شده بر روی کالاها میباشند.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--end of skills-->
<!--footer-->
<footer class="py-3 footer">
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto text-center">
        <h1 class="text-uppercase font-weight-bold footer-title text-center d-inline-block">yas daroo</h1>
        <div class="footer-icons my-3 d-flex justify-content-center">
          <a href="#" class="footer-icon mx-2">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#" class="footer-icon mx-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="footer-icon mx-2">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="footer-icon mx-2">
            <i class="fab fa-google-plus"></i>
          </a>
          <a href="#" class="footer-icon mx-2">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
        <p class="text-right w-75 mx-auto" style="color:#1D3557;">
          یاس دارو در تلاش است که با رعایت حقوق مشتری و تضمین کیفیت و اصالت کالاها، به برندی برتر تبدیل شود.
        </p>
        <div class="footer-contact mt-5 justify-content-around d-flex flex-wrap">
          <div>
            <span class="footer-icon ml-2">
              <i class="fas fa-map"></i>
            </span>
            برازجان، خیابان بیمارستان، روبروی درمانگاه نوید
          </div>
          <div>
            <span class="footer-icon mr-2">
              <i class="fas fa-phone"></i>
            </span>
            تلفن: +98 7134401745
          </div>
          <div class="text-capitalize">
            <span class="footer-icon mr-2">
              <i class="fas fa-envelope"></i>
            </span>
            ایمیل : abbasi.bahamin@gmail.com
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--end of footer-->