    {% load static %}
    <div id="headerTop" class="container-fluid">
      <div class="row align-items-center">
        <div id="headerTopLeft" class="headerTopLeft col-8 col-lg-8 col-sm-7">
          <div id="Brand1" class="Brand1"><a href="{% url 'main:home' %}" class="navbar-brand text-left" ><img class="img-fluid ml-2" style="width:50px; height:50px;" src="{% static 'website/img/logo.png' %}">یاس دارو</a></div>
          <div id="searchBar">
            <form action="" autocomplete="on">
              <input id="search1" name="search" type="text" placeholder="دنبال چه چیزی هستید؟">
              <button type="submit" class="btn"><i class="fas fa-search" style="font-size: 1.7rem;"></i></button>
            </form>
          </div>
        </div>
        <div id="headerTopRight" class="headerTopRight col-4 col-lg-4 col-sm-5">
          {% include 'snippets/cart_header.html' %}
          <a class="split"></a>
          {% if user.is_authenticated %}  
          <div class="dropdown profile1">
            <button class="btn dropdown-toggle ml-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-user" style="font-size:35px;"></i>
            </button>
            <div class="dropdown-menu proItems" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'userprofile:main-profile-page' user.id %}"><i class="far fa-user-circle userPro1"></i><p class="topP1">{{ user.phone_number }}</p>
              <p class="buttomP1">مشاهده حساب کاربری<i class="fas fa-caret-left"></i></p>
              </a>
              <a class="dropdown-item d-flex orderList1" href="#"><i class="far fa-list-alt order1"></i><p>سفارش های من</p></a>
              <a class="dropdown-item d-flex orderList1" href="{% url 'accounts:logout' %}"><i class="fas fa-sign-out-alt order1"></i><p>خروج از حساب کاربری</p></a>
            </div>
          </div>

          {% else %}
          <a href="{% url 'accounts:login' %}" class="user5"><i class="fas fa-user" style="font-size:30px;"></i><i class="entry">ورود به حساب کاربری</i></a>

          {% endif %}




        </div>
      </div>
    </div>
    <!--###Navbar####-->

  <!--###End of Navbar###-->