<!--###Modal of Navbar in Small Screen-->
<div class="modal show" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true" id="myNavbar1">
  <div id='menu-overlay' class="animate-menu modal-dialog modal-dialog-scrollable">
    <div class="modal-content bg-dark">
      <div class="modal-header modHeader">
        <h5 class="modal-title font-weight-bold text-white" id="ModalLabel">YAS DAROO</h5>
        <button type="button" class='btn'  data-dismiss="modal" aria-label="Close" style='color:red;'>
          <i class="far fa-times-circle"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="accordion" id='accordionMenu'>
          <!--###Single Menu Item##-->
          <div class="card bg-dark">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-white text-right dropButton" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  آرایشی بهداشتی
                </button>
              </h2>
            </div>
        
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMenu">
              <div class="card-body bg-secondary">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link adm" href="{% url 'products:product-filter' 'moisturizer' 1 %}">مرطوب کننده</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="{% url 'products:product-filter' 'sun-care' 1 %}">محصولات آفتاب</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="{% url 'products:product-filter' 'anti-spot' 1 %}">ضد لک</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="{% url 'products:product-filter' 'anti-aging' 1 %}">ضد چروک</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="{% url 'products:product-filter' 'skin-repair' 1 %}">ترمیم کننده پوست</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="{% url 'products:product-filter' 'hair-care' 1 %}">مراقبت مو</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="{% url 'products:product-filter' 'body-hygiene' 1 %}">بهداشت بدن</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="{% url 'products:product-filter' 'oral-hygiene' 1 %}">بهداشت دهان و دندان</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="{% url 'products:product-filter' 'makeup' 1 %}">آرایشی</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="{% url 'products:product-filter' 'hygiene' 1 %}">بهداشتی</a>
                  </li>
                </ul> 
              </div>
            </div>
          </div>
          <!--##End of Single Menu Item##-->
          <!--###Single Menu Item##-->
          <div class="card bg-dark">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-white text-right dropButton" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">مکمل غذایی
                </button>
              </h2>
            </div>
        
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionMenu">
              <div class="card-body bg-secondary">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">مکمل آقایان</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">مکمل بانوان</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">مکمل کودکان</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">مکمل گیاهی</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">ویتامینها و مواد معدنی</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">مکمل تنظیم وزن</a>
                  </li>
                </ul> 
              </div>
            </div>
          </div>
          <!--##End of Single Menu Item##-->
          <!--###Single Menu Item##-->
          <div class="card bg-dark">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-white text-right dropButton" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  مکمل ورزشی
                </button>
              </h2>
            </div>
        
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionMenu">
              <div class="card-body bg-secondary">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">پروتئین</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">کربوهیدرات</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">آمینو اسید</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">کاهش وزن</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">کراتین</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">انرژی زا</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">بی سی ای ای</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">گلوتامین</a>
                  </li>
                </ul> 
              </div>
            </div>
          </div>
          <!--##End of Single Menu Item##-->
          <!--###Single Menu Item##-->
          <div class="card bg-dark">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-white text-right dropButton" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  مادر و کودک
                </button>
              </h2>
            </div>
        
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionMenu">
              <div class="card-body bg-secondary">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">مادر و بارداری</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">دوران شیردهی</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">شیرخشک و غذای کودک</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">لوازم کودک و نوزاد</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">مکمل مادران</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">مکمل کودکان</a>
                  </li>
                </ul> 
              </div>
            </div>
          </div>
          <!--##End of Single Menu Item##-->
          <!--###Single Menu Item##-->
          <div class="card bg-dark">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-white text-right dropButton" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  تجهیزات پزشکی
                </button>
              </h2>
            </div>
        
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionMenu">
              <div class="card-body bg-secondary">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">تجهیزات پزشکی بدن</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">تجهیزات قند و خون</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">تب سنج و دماسنج</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">ترازو</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link adm" href="#">ارتوپدی</a>
                  </li>
                </ul> 
              </div>
            </div>
          </div>
          <!--##End of Single Menu Item##-->
        </div>
      </div>
    </div>
  </div>
</div>
<!--###End Modal of Navbar in Small Screen-->