{% extends 'dashboard/base.html' %}

{% block content %}
<!--#####Slider Images#####-->
<section id="sliderImage1">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-xl-10 col-lg-9 col-md-8 mr-auto">
        <div class="row">
          <div class="col-12">
            <h3 class="text-muted text-center mb-3">تصاویر مربوط به اسلایدر بالای صفحه</h3>
          </div>
          <div class="col-12">
            <form>
                Choose:
                {{ form }}

              <!-- <div class="form-group">
                <label for="sliderImg">تصویر اسلایدر</label>
                <input type="file" class="form-control-file" id="sliderImg">
              </div>
              <button type="submit" class="btn btn-primary mb-4">بارگذاری اسلایدر</button>
              <div class="form-group">
                <label for="sliderImg3">شماره اسلایدر</label>
                <select class="form-control" id="sliderImg3">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                </select>
              </div>
              <button type="submit" class="btn btn-danger">حذف اسلایدر</button> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>
<!--#####End of Slider Images#####-->
{% endblock %}