{% extends 'website/base.html' %}
{% load static %}
{% block content %}

<!--###Middle of Page##-->
<div class="container">
<div class="row">
    <div class="col-12 my-4">
    <div class="d-flex justify-content-center align-items-center notF1 mb-3">
        <p class="display-4 font-weight-bold text1">صفحه ای که دنبال آن بودید یافت نشد!</p>
        <a href="index.html" class="btn btn-danger btn-lg my-4" role="button" aria-pressed="true">صفحه اصلی</a>
        <p class="font-weight-bold my-5 p404"><span class="mr-5 s1">4</span><span class="mr-5 s2">0</span><span class="s3">4</span></p>
    </div>
    </div>
</div>
</div>
<!--##End of Middle Page##-->

{% endblock %}