{% extends 'website/base.html' %}
{% block content %}
  <!--banner-->
  <div class="banner-products d-flex align-items-center justify-content-center pl-3 pl-lg-5 text-center">
    <div>
      <h2 class="font-weight-bold">{{ page_title }}</h2>
    </div>
  </div>
<!--end of banner-->

<!--##Direction of Page##-->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12" style="padding-left: 1.86rem;">
      <ul class="breadcrumb direction">
        <li class="breadcrumb-item"><a href="{% url 'main:home' %}">یاس دارو</a></li>
        <li class="breadcrumb-item"><a href="{% url 'products:product-filter' category.slug category.nesting_level %}">{{ category }}</a></li>
        <!-- <li class="breadcrumb-item"><a href="#">کرم ضدآفتاب</a></li>
        <li class="breadcrumb-item active">بانوان</li> -->
      </ul>
    </div>
  </div>
</div>
<!--##End of Direction of Page##-->

<!--products-->
<section class="products">
  <div class="container-fluid">
    <div class="row">
      <!--product info and filters-->
      <div class="col-10 col-md-5 col-lg-3 mx-auto my-2 pl-4">
        <div id="productCategories11">
          <!--categories-->
        <div class="products-categories-title mt-2 mb-3">
          <h6>دسته بندی محصولات</h6>
          <div class="products-categories-underline"></div>
        </div>
        <!--single link category-->
        {% for cat_qs in category_qs %}
          <a href="{% url 'products:product-filter' cat_qs.slug 1 %}" class="d-block products-categories-link">
            <p class="mb-2">{{ cat_qs.name }}</p>
          </a>
        {% endfor %}
        <!--end of single link-->
        
        </div>
        <!--end of title-->
        <form>
          <div id="byPrice" class="mt-2">
                greater than
                {{ myFilter.form.price__gt }}
                </br>
                less than
                {{ myFilter.form.price__lt }}
            </div>
            <!--end of title-->
            <div id="byBrand" class="mt-2">
              <div class="products-categories-title mt-2 mb-3">
                <h6>خرید بر اساس برند</h6>
              </br>
                {{ myFilter.form.brand_name }}
              </br>
                <div class="products-categories-underline"></div>
              </div>
              {{  myFilter.form.category }}
              <button class="btn btn-primary" type="submit">fitler</button>
          </div>
        </form>
        <!--end of title-->
      </div>
      <!--product images-->
      <div class="col-10 col-md-7 col-lg-9 my-2 mx-auto">
        <div class="container">
          <!--###top Sorting Bar###-->
         <div id="topSort" class="col-md-12 col-lg-12 d-lg-flex align-items-center mb-3 d-none">
          <div class="row">
            <div class="mr-2" id="sort-right">
              <p id="sorting1" class="text-muted font-weight-bold"><i class="fas fa-bars text-muted ml-1" style="font-size:1.6rem;"></i>مرتب سازی بر اساس:</p>
            </div>
            <button type="button" class="btn btn-sm mr-1 font-weight-bold active1">پربازدیدترین</button>
            <button type="button" class="btn btn-sm mr-1 font-weight-bold">پرفروش ترین</button>
            <button type="button" class="btn btn-sm mr-1 font-weight-bold">محبوب ترین</button>
            <button type="button" class="btn btn-sm mr-1 font-weight-bold">جدیدترین</button>
            <button type="button" class="btn btn-sm mr-1 font-weight-bold">ارزان ترین</button>
          </div>
         </div>
        <!--###End of top Sorting Bar###-->

        <!--##Products###-->

          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 card-group">
            {% for product in products %}
            <div class="col mb-2">
              <div class="card h-100 p3">
                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="card-img-top" alt="products"></a>
                <div class="card-body">
                  <h6>{{ product.persian_title }}</h6>
                </div>
                <div class="card-footer">
                {% if product.active and not product.quantity == 0 %}
                  <h5 class="card-title">{{ product.persian_num }}<small> تومان</small></h5>
                {% else %}
                  <h4 class="card-title text-center text-muted">ناموجود</h4>
                {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        
        </div>
        </div>
      </div>
      <!--pagination-->
      <div class="mx-auto mb-3 mt-5 col-md-6 col-lg-6" style="direction:ltr;">
        <ul class="pagination justify-content-center">
          {% if products.has_previous %}
            <li class="page-item"></li><a class="page-link" href="?page={{products.previous_page_number}}" role="button">قبلی</a></li>
          {% endif %}
          {% for i in products.paginator.page_range %}
            {% if products.number == i %}
              <li class="page-item"><a class="page-link" href="#" onclick="return false;" role="button">{{i}}</a></li>
            {% else %}
              <li class="page-item active"><a class="page-link" href="?page={{i}}" role="button">{{i}}</a></li>
            {% endif %}
          {% endfor %}
          {% if products.has_next %}
            <li class="page-item"><a href="?page={{products.next_page_number}}" role="button" class="page-link">بعدی</a></li>
          {% endif %}
        </ul>
      </div>
      <!--end of pagination-->
    </div>
  </div>
</section>
<!--end of products-->

{% endblock %}